@import url('https://fonts.googleapis.com/css?family=PT+Sans:400,700&subset=cyrillic');
body {
  min-width: 1200px;
  min-height: 933px;
  margin: 0;
  padding: 0;
  text-transform: uppercase;
}

main {
  width: 1200px;
  margin: 0 auto;
  padding: 0;
  font-size: 0;
}


/*HEADER*/

header {
  width: 1200px;
  margin: 0 auto;
  font-size: 0;
  line-height: 26px;
  background-color: #ffffff;
}

.header__nav {
  position: relative;
}

.header__nav ul {
  margin: 0;
  padding: 0;
}

.header__nav li {
  display: inline-block;
  font-family: 'PT Sans', sans-serif;
  font-size: 14px;
  font-weight: bold;
  line-height: 26px;
  width: 240px;
  text-align: center;
  padding: 15px 0;
  list-style: none;
}

.header__nav a {
  text-decoration: none;
  color: #000000;
}

.header__nav li:nth-child(2) {
  margin-right: 240px;
}

.header__logo {
  position: absolute;
  top: 0;
  left: 50%;
  margin-left: -69px;
  z-index: 2;
}


/*HEADER END*/


/*FOOTER*/

.footer>div {
  width: 400px;
}

.footer {
  background-color: #ffffff;
  width: 1200px;
  margin: 0 auto;
  position: relative;
  font-size: 0;
  text-align: center;
}

.footer__hashtag {
  display: inline-block;
  font-family: 'PT Sans', sans-serif;
  font-size: 21px;
  font-weight: bold;
  line-height: 26px;
  font-weight: bold;
  vertical-align: top;
  padding-top: 29px;
  padding-bottom: 29px;
}

.footer__hashtag>a {
  text-decoration: none;
  color: #000000;
}

.footer__social {
  display: inline-block;
  padding-top: 18px;
  padding-bottom: 17px;
}

.footer__btn {
  display: inline-block;
  vertical-align: top;
  width: 46px;
  height: 48px;
  background-color: #81b3d2;
  margin-right: 6px;
}

.footer__copyright {
  display: inline-block;
  font-family: 'PT Sans', sans-serif;
  font-size: 14px;
  font-weight: normal;
  line-height: 26px;
  vertical-align: top;
  padding-top: 22px;
  padding-bottom: 22px;
}

.footer__copyright>a {
  text-decoration: none;
  color: #000000;
}


/*FOOTER END*/


/*MAIN INDEX*/

.intro {
  vertical-align: top;
  display: inline-block;
  width: 1200px;
  position: relative;
  background-color: #ffffff;
}

.intro img:nth-child(2) {
  position: absolute;
  top: 76px;
  left: 371px;
  z-index: 2;
}

.intro img:nth-child(3) {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 2;
}

.description {
  margin: 0;
  text-align: center;
  white-space: pre-line;
  background-color: #ffffff;
}

.description__slogan {
  display: inline-block;
  font-family: 'PT Sans', sans-serif;
  font-size: 21px;
  font-weight: bold;
  color: #000000;
  line-height: 26px;
}

.description__causes {
  display: inline-block;
  font-family: 'PT Sans', sans-serif;
  font-size: 14px;
  font-weight: normal;
  color: #333333;
  line-height: 26px;
}

.features__name {
  font-family: 'PT Sans', sans-serif;
  font-size: 21px;
  font-weight: bold;
  color: #ffffff;
  line-height: 26px;
}

.features__number {
  font-family: 'PT Sans', sans-serif;
  font-size: 14px;
  font-weight: normal;
  color: #ffffff;
  line-height: 26px;
}

.features__desc p {
  font-family: 'PT Sans', sans-serif;
  font-size: 14px;
  font-weight: normal;
  color: #ffffff;
  line-height: 26px;
}

.features--grey .features__name {
  font-family: 'PT Sans', sans-serif;
  font-size: 21px;
  font-weight: bold;
  color: #000000;
  line-height: 26px;
}

.features--grey .features__number {
  font-family: 'PT Sans', sans-serif;
  font-size: 14px;
  font-weight: normal;
  color: #000000;
  line-height: 26px;
}

.features--grey p {
  font-family: 'PT Sans', sans-serif;
  font-size: 14px;
  font-weight: normal;
  color: #000000;
  line-height: 26px;
}

.features--blue .features__desc {
  background-color: #81b3d2;
}

.features__desc {
  display: inline-block;
  font-size: 14px;
  width: 400px;
  text-align: center;
  vertical-align: top;
}

.features__image {
  display: inline-block;
}

.features--grey .features__desc {
  background-color: #eeeeee;
}

.cause__item {
  display: inline-block;
  vertical-align: top;
  width: 400px;
  font-size: 18px;
  text-align: center;
}

.cause__name {
  font-family: 'PT Sans', sans-serif;
  font-size: 21px;
  font-weight: bold;
  color: #000000;
  line-height: 26px;
}

.cause__item p {
  font-family: 'PT Sans', sans-serif;
  font-size: 14px;
  font-weight: normal;
  color: #333333;
  line-height: 26px;
}

.searchtitle {
  text-align: center;
  background-color: #ffffff;
}

.searchtitle__header {
  font-family: 'PT Sans', sans-serif;
  font-size: 30px;
  font-weight: bold;
  color: #000000;
  line-height: 26px;
}

.searchtitle__info {
  font-family: 'PT Sans', sans-serif;
  font-size: 14px;
  font-weight: normal;
  color: #333333;
  line-height: 26px;
}

.searchtitle a {
  display: inline-block;
  width: 568px;
  background-color: #766357;
  text-decoration: none;
  padding-top: 36px;
  font-family: 'PT Sans', sans-serif;
  font-size: 21px;
  font-weight: bold;
  color: #ffffff;
  line-height: 26px;
}

.search {
  text-align: center;
}

.search__form {
  display: inline-block;
  width: 568px;
  background-color: #ffffff;
}

.search__form input[type="text"] {
  display: inline-block;
  vertical-align: middle;
  box-sizing: border-box;
  width: 346px;
  height: 38px;
  padding: 10px 40px 10px 12px;
  font-size: 14px;
  line-height: 26px;
  font-weight: bold;
  color: inherit;
  text-transform: inherit;
  background-color: #f2f2f2;
  outline: none;
  border: 2px solid #f2f2f2;
  color: #000000;
}

.search__form label {
  display: inline-block;
  vertical-align: middle;
  width: 101px;
  margin-right: 11px;
  font-weight: bold;
  font-size: 14px;
  line-height: 26px;
  text-align: left;
  font-family: 'PT Sans', sans-serif;
  color: #000000;
}

.search__btn {
  display: inline-block;
  border: none;
  font-family: 'PT Sans', sans-serif;
  color: #ffffff;
  border-radius: 0;
  width: 458px;
  height: 58px;
  font-size: 21px;
  padding: 15px 20px 17px;
  line-height: 26px;
  margin-top: 53px;
  font-weight: bold;
  background-color: #81B3D2;
}


/*INDEX END*/


/*CATALOG?*/


/*CLASS FILTER*/

.filter {
  background-image: url("../img/blured-mountains.jpg");
}

.filter__item {
  width: 200px;
  display: inline-block;
  font-size: 14px;
  vertical-align: top;
}

.filter__range {
  width: 800px;
  display: inline-block;
  font-size: 14px;
  vertical-align: top;
}

.filter__range ul {
  margin: 0;
  padding: 0;
}

.filter__checkbox li {
  margin-bottom: 24px;
  list-style: none;
}


/*CLASS FILTER END*/


/*CLASS SORTING*/

.sorting {
  padding-top: 36px;
  padding-bottom: 36px;
  background-color: #fefefe;
}

.sorting__count {
  display: inline-block;
  font-size: 14px;
}

.sorting__types {
  display: inline-block;
  width: 1000px;
}

.sorting__heading {
  display: inline-block;
  font-size: 14px;
}

.sorting__list {
  margin: 0;
  padding: 0;
  display: inline-block;
}

.sorting__list a {
  font-size: 14px;
}

.sorting__list li {
  display: inline-block;
}

.arrows {
  display: inline-block;
  width: 180px;
  padding-left: 560px;
}

.arrows__list {
  margin: 0;
  padding: 0;
}

.arrows__list a {
  font-size: 14px;
}

.arrows__list li {
  display: inline-block;
}


/*CLASS SORTING END*/

.hotels__item {
  display: inline-block;
  background-color: #fefefe;
  width: 1200px;
  padding-top: 30px;
  padding-bottom: 30px;
  font-size: 14px;
}

.hotels__img {
  display: inline-block;
}

.hotels__info {
  display: inline-block;
}

.hotels__rating {
  display: inline-block;
}
