/*делай по порядку
?1) Добавить фон для боди
форма на 2 странице

5) пиксель перфект всех страниц
6) прогрессивное улучшение (переполнение, картинки, фомы)
8) Пнуть меня чтобы все хорошенько проверил
9) js формы на главной
*/


body {
  min-width: 1200px;
  margin: 0;
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  font-family: "PT Sans", Arial, sans-serif;
  color: #000000;
  text-transform: uppercase;
  background-color: #ffffff;
}

.container {
  width: 1200px;
  margin: 0 auto;
  background: #ffffff;
  font-size: 0;
  box-shadow: 0 0 5px 0 #c8c8c8;
}

body, div, li, form, p, h1, h2, h3, p, ul, a {
  margin: 0;
  padding: 0;
}

img {
  border: 0;
}

section {
  font-size: 0;
  line-height: 0;
}


/*HEADER*/

header {
  width: 1200px;
  margin: 0 auto;
  font-size: 0;
  background-color: #ffffff;
}

.header__nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.header__nav a {
  color: #000000;
  text-decoration: none;
}

.header__nav a:hover {
  color: #81b3d2;
}

.header__nav a:active {
  color: #b2b2b2;
}

.header__nav .header__nav--active {
  color: #766357;
}

.header__nav .header__nav--active:hover {
  color: #604e43;
}

.header__nav .header__nav--active:active {
  color: #d6d0cc;
}

.header__nav {
  position: relative;
}

.header__nav li {
  display: inline-block;
  width: 240px;
  font-size: 14px;
  line-height: 26px;
  vertical-align: top;
  text-align: center;
  padding-top: 13px;
  padding-bottom: 17px;
}

.header__nav li:nth-child(2) {
  margin-right: 240px;
}

.header__logo {
  position: absolute;
  top: 0;
  left: 50%;
  margin-left: -69px;
  z-index: 2;
}


/*HEADER END*/


/*FOOTER*/

.footer>div {
  width: 400px;
}

.footer {
  background-color: #ffffff;
  width: 1200px;
  margin: 0 auto;
  position: relative;
  color: #000000;
  font-size: 0;
}

.footer__hashtag {
  display: inline-block;
  font-size: 21px;
  line-height: 26px;
  text-align: center;
  vertical-align: top;
  padding-top: 43px;
  padding-bottom: 29px;
}

.footer__hashtag>a {
  text-decoration: none;
  color: #000000;
}

.footer__social {
  display: inline-block;
  padding-top: 35px;
  padding-bottom: 17px;
  text-align: center;
}

.footer__btn {
  display: inline-block;
  width: 46px;
  height: 48px;
  margin-right: 6px;
  background-color: #81b3d2;
  vertical-align: top;
  text-decoration: none;
  position: relative;
}

.footer__btn:hover {
  background-color: #669ec0;
}

.footer__btn:active {
  background-color: #5496bd;
}

.footer__btn::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-image: url("../img/icons/sprite.png");
  background-repeat: no-repeat;
}

.footer__btn--tw::before {
  width: 17px;
  height: 15px;
  background-position: -10px -1126px;
}

.footer__btn--tw:active::before {
  background-position: -10px -1161px;
}

.footer__btn--fb::before {
  width: 10px;
  height: 19px;
  background-position: -10px -484px;
}

.footer__btn--fb:active::before {
  background-position: -10px -523px;
}

.footer__btn--yt::before {
  width: 20px;
  height: 16px;
  background-position: -10px -1196px;
}

.footer__btn--yt:active::before {
  background-position: -10px -1232px;
}

.footer__copyright {
  display: inline-block;
  font-size: 14px;
  font-weight: 400;
  line-height: 26px;
  vertical-align: middle;
  position: relative;
  padding-left: 102px;
  padding-top: 12px;
  box-sizing: border-box;
}

.footer__copyright span {
  display: inline-block;
  color: #000000;
  text-decoration: none;
  vertical-align: middle;
}

.footer__copyright span::after {
  content: "";
  display: inline-block;
  text-decoration: none;
  color: #000000;
  width: 113px;
  height: 39px;
  background-image: url("../img/icons/sprite.png");
  background-repeat: no-repeat;
  background-position: -10px -654px;
  vertical-align: middle;
  margin-left: 6px;
}

.footer__copyright span:hover::after{
  background-position: -10px -772px;
}

.footer__copyright span:active::after{
  background-position: -10px -713px
}

.footer--transparent {
  position: absolute;
  z-index: 2;
  background: rgba(255, 255, 255, 0.9);
  box-shadow: 0 0 5px 0 #c8c8c8;
}


/*FOOTER END*/


/*MAIN INDEX*/

.intro {
  width: 1200px;
  height: 508px;
  position: relative;
  background-color: #ffffff;
  background: url("../img/mountains2.jpg") no-repeat;
  background-position: 0 -56px;
}

.intro::before {
  content: "";
  position: absolute;
  bottom: 0;
  width: 1200px;
  height: 57px;
  background: url("../img/intro-background-shape.png") no-repeat;
}

.intro img {
  position: absolute;
  top: 76px;
  left: 371px;
  z-index: 2;
}

.description {
  margin: 0;
  text-align: center;
  padding-left: 355px;
  padding-right: 355px;
  padding-top: 60px;
  background-color: #ffffff;
}

.description__slogan {
  display: block;
  font-size: 21px;
  color: #000000;
  line-height: 26px;
  margin-bottom: 26px;
}

.description__causes {
  display: block;
  font-size: 14px;
  font-weight: 400;
  color: #333333;
  line-height: 26px;
  margin-bottom: 52px;
}

.features__desc {
  display: inline-block;
  width: 400px;
  padding-top: 24px;
  text-align: center;
  vertical-align: top;
}

.features__name {
  font-size: 21px;
  color: #ffffff;
  line-height: 26px;
  padding-right: 125px;
  padding-left: 124px;
  margin-bottom: 14px;
}

.features__desc p {
  font-size: 14px;
  font-weight: normal;
  color: #ffffff;
  line-height: 26px;
  margin-top: 15px;
  margin-bottom: 46px;
  padding-right: 49px;
  padding-left: 49px;
}

.features__number {
  font-size: 14px;
  font-weight: 400;
  color: #ffffff;
  line-height: 26px;
}

.features--grey .features__desc {
  padding-top: 44px;
}

.features--grey p {
  margin-bottom: 54px;
  padding-right: 69px;
  padding-left: 69px;
}

.features--blue .features__desc {
  padding-top: 51px;
}

.features--grey .features__name {
  font-size: 21px;
  color: #000000;
  line-height: 26px;
}

.features--grey .features__number {
  font-size: 14px;
  font-weight: 400;
  color: #000000;
  line-height: 26px;
}

.features--grey .features__desc {
  background-color: #eeeeee;
}

.features--grey p {
  font-size: 14px;
  font-weight: 400;
  color: #000000;
  line-height: 26px;
}

.features--blue .features__desc {
  background-color: #81b3d2;
}

.features__image {
  display: inline-block;
  vertical-align: top;
}

.cause__item {
  display: inline-block;
  vertical-align: top;
  width: 400px;
  font-size: 18px;
  text-align: center;
  padding-top: 59px;
  position: relative;
}

.cause__name {
  font-size: 21px;
  color: #000000;
  line-height: 26px;
  padding-top: 99px;
}

.cause__item p {
  font-size: 14px;
  font-weight: 400;
  color: #333333;
  line-height: 26px;
  margin-top: 17px;
  margin-bottom: 77px;
  padding-left: 58px;
  padding-right: 58px;
}

.cause__item--home::before {
  content: "";
  position: absolute;
  top: 60px;
  left: 162px;
  display: block;
  width: 75px;
  height: 75px;
  background: url("../img/icons/sprite.png") no-repeat center;
  background-position: -10px -562px;
}

.cause__item--burger::before {
  content: "";
  position: absolute;
  top: 60px;
  left: 163px;
  display: block;
  width: 75px;
  height: 75px;
  background: url("../img/icons/sprite.png") no-repeat center;
  background-position: -10px -100px;
}

.cause__item--box::before {
  content: "";
  position: absolute;
  top: 55px;
  left: 168px;
  display: block;
  width: 75px;
  height: 75px;
  background: url("../img/icons/sprite.png") no-repeat center;
  background-position: -10px -993px;
}

.searchtitle {
  text-align: center;
  background-color: #ffffff;
  padding-top: 54px;
}

.searchtitle__header {
  font-size: 30px;
  color: #000000;
  line-height: 26px;
  margin-bottom: 28px;
}

.searchtitle__info {
  font-size: 14px;
  font-weight: 400;
  color: #333333;
  line-height: 26px;
  margin-bottom: 44px;
}

.searchtitle a {
  display: inline-block;
  width: 568px;
  background-color: #766357;
  text-decoration: none;
  padding-top: 30px;
  padding-bottom: 30px;
  font-size: 21px;
  color: #ffffff;
  line-height: 26px;
}

.search {
  width: 1200px;
  height: 493px;
  position: relative;
}

.search__form {
  width: 568px;
  background-color: #ffffff;
  position: absolute;
  left: 316px;
  padding-top: 55px;
  padding-bottom: 55px;
  padding-left: 55px;
  padding-right: 48px;
  box-sizing: border-box;
}

.search__form div {
  display: inline-block;
  vertical-align: top;
  margin-bottom: 29px;
}

.search__form label {
  font-size: 14px;
  line-height: 26px;
  display: inline-block;
  vertical-align:middle;
  color: #000000;
}

.search__form [id="datein"] {
  margin-left: 18px;
}
.search__form [id="dateout"] {
margin-left: 14px;
}
.search__form [id="vzrosl"]{
margin-left: 35px;
margin-right: 53px;
}
.search__form [id="children"]{
margin-left: 27px;
}

.search__form input {
  display: inline-block;
  vertical-align: middle;
  font-size: 14px;
  color: #000000;
  line-height: 26px;
  font-weight: bold;
  text-transform: uppercase;
  border: none;
  background: #f2f2f2;
  width: 346px;
  height: 38px;
}

.search__form #vzrosl,
.search__form #children {
  width: 114px;
}

.search__btn {
  display: inline-block;
  border: none;
  font-family: 'PT Sans', sans-serif;
  color: #ffffff;
  border-radius: 0;
  width: 458px;
  height: 58px;
  font-size: 21px;
  padding: 15px 20px 17px;
  line-height: 26px;
  margin-top: 53px;
  font-weight: bold;
  background-color: #81B3D2;
}

.search__btn:hover {
  background-color: #669ec0;
}

.search__btn:active {
  background-color: #5496bd;
  color: rgba(255, 255, 255, 0.3);
}

/*INDEX END*/


/*CATALOG?*/

.filter__form, .sorting, .hotels__item {
  box-sizing: border-box;
  padding-top: 30px;
  padding-left: 72px;
  padding-right: 72px;
  padding-bottom: 30px;
}


/*CLASS FILTER*/

.filter {
  background-image: url("../img/blured-mountains.jpg");
  margin: 0;
  padding: 0;
}

.filter__item {
  width: 200px;
  display: inline-block;
  vertical-align: top;
}

.filter__range {
  display: inline-block;
  vertical-align: top;
  box-sizing: border-box;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  margin-left: 250px;
}

.filter__checkbox li {
  list-style: none;
}

.filter__heading {
  font-size: 16px;
  line-height: 21px;
  color: #ffffff;
}

.filter__heading--range {
  margin-bottom: 9px;
}

.filter__price__controls {
  height: 36px;
  margin-bottom: 20px;
  position: relative;
  border: 2px solid #ffffff;
  border-radius: 2px;
}

.filter__price__controls::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 2px;
  height: 22px;
  background: #ffffff;
  transform: translate(-50%, -50%);
}

.filter__price__controls label {
  display: inline-block;
  color: #ffffff;
  font-size: 14px;
  line-height: 38px;
  vertical-align: top;
  cursor: pointer;
}

.filter__price__controls .price--min, .filter__price__controls .price--max {
  width: 90px;
  padding-left: 65px;
}

.filter__price__controls input {
  width: 50px;
  margin: 0;
  color: inherit;
  font: inherit;
  background: none;
  border: none;
}

.filter__range__controls {
  position: relative;
  margin-bottom: 32px;
}

.filter__range__controls .range__scale {
  height: 2px;
  background: rgba(255, 255, 255, 0.3);
}

.filter__range__controls .range__bar {
  width: 80%;
  height: 2px;
  background: #ffffff;
}

.range__toggle {
  position: absolute;
  top: -9px;
  width: 4px;
  height: 4px;
  background: #ababab;
  border: 8px solid #ffffff;
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
  cursor: pointer;
}

.range__toggle:hover {
  background: #1c4f80;
}

.range__toggle--min {
  left: 0;
}

.range__toggle--max {
  left: 80%;
}

.filter__btn {
  display: block;
  margin: 0 auto;
  padding: 6px 35px;
  font-size: 14px;
  line-height: 20px;
  color: #ffffff;
  text-transform: uppercase;
  background: transparent;
  border: 2px solid #ffffff;
  border-radius: 2px;
  cursor: pointer;
}

.filter__btn:hover {
  color: #000000;
  background-color: #ffffff;
}


.filter__btn :hover {
  color: #000000;
  background: #ffffff;
}

.filter__checkbox {
  font-size: 14px;
  font-weight: 400;
  color: #ffffff;
  line-height: 21px;
}

input[type="checkbox"] {
  display: none;
}

input[type="checkbox"]+label {
  display: block;
  margin: 10px 0;
  padding-left: 45px;
  position: relative;
  cursor: pointer;
}

input[type="checkbox"]+label::before {
  content: "";
  display: block;
  width: 22px;
  height: 22px;
  position: absolute;
  top: 0;
  left: 0;
  background-image: url("../img/icons/sprite.png");
  background-repeat: no-repeat;
  background-position: -10px -316px;
}

input[type="checkbox"]:disabled+label::before {
  content: "";
  display: block;
  width: 22px;
  height: 22px;
  position: absolute;
  top: 0;
  left: 0;
  background-image: url("../img/icons/sprite.png");
  background-repeat: no-repeat;
  background-position: -10px -442px;
}


input[type="checkbox"]:checked+label::after {
  content: "";
  display: block;
  width: 26px;
  height: 22px;
  position: absolute;
  top: 0;
  left: 0;
  background-image: url("../img/icons/sprite.png");
  background-repeat: no-repeat;
  background-position: -10px -358px;
}

input[type="checkbox"]:checked:disabled+label::after {
  content: "";
  display: block;
  width: 26px;
  height: 22px;
  position: absolute;
  top: 0;
  left: 0;
  background-image: url("../img/icons/sprite.png");
  background-repeat: no-repeat;
  background-position: -10px -400px;
}


/*CLASS FILTER END*/


/*CLASS SORTING*/

.sorting {
  background-color: #fefefe;
}

.sorting__count {
  display: inline-block;
  vertical-align: top;
  width: 120px;
  font-family: 'PT Sans', sans-serif;
  font-size: 21px;
  font-weight: bold;
  color: #000000;
  line-height: 26px;
}

.sorting__types {
  display: inline-block;
  vertical-align: bottom;
}

.sorting__heading {
  display: inline-block;
  vertical-align: top;
  width: 120px;
  font-family: 'PT Sans', sans-serif;
  font-size: 12px;
  font-weight: normal;
  color: #000000;
  line-height: 18px;
  box-sizing: border-box;
  padding-left: 44px;
}

.sorting__list {
  margin: 0;
  padding: 0;
  width: 300px;
  display: inline-block;
  vertical-align: top;
  padding-left: 39px;
}

.sorting__item {
  font-size: 12px;
  font-weight: 400;
  color: #b1b1b1;
  line-height: 18px;
  text-decoration: none;
  border-bottom: 1px dotted #81b3d2;
}

.sorting__item:hover {
  color: #81b3d2;
}

.sorting__item:active {
  border-bottom: none;
  color: #000000;
}

 .sorting__list .sorting__item--active {
  border-bottom: none;
  color: #81b3d2;
}

.sorting__list li {
  display: inline-block;
  vertical-align: top;
  padding-right: 32px;
}

.sorting__list li:nth-child(3) {
  padding-left: 2px;
}

.arrows {
  display: inline-block;
  padding-left: 425px;
}

.arrows__list a {
  font-family: 'PT Sans', sans-serif;
  font-size: 14px;
  font-weight: normal;
  color: #333333;
  line-height: 21px;
  text-decoration: none;
  padding-left: 13px;
  position: relative;
  cursor: pointer;
}

.arrow--top::before,
.arrow--down::before {
  content: "";
  display: inline-block;
  width: 11px;
  height: 10px;
  position: absolute;
  vertical-align: top;
  top: 0;
  left: 0;
  background-image: url("../img/icons/sprite.png");
  background-repeat: no-repeat;
  background-position: -10px -70px;
}

.arrow--top:hover::before {
  background-position: -10px -40px;
}
.arrow--top:active::before{
  background-position: -10px -10px;
}

.arrow--down--active::before {
  content: "";
  display: inline-block;
  width: 11px;
  height: 10px;
  position: absolute;
  vertical-align: top;
  top: 0;
  left: 0;
  background-image: url("../img/icons/sprite.png");
  background-repeat: no-repeat;
  background-position: -10px -10px;
  transform: rotate(180deg);
}

.arrows__list li {
  display: inline-block;
}


/*CLASS SORTING END*/

.hotels__item {
  display: inline-block;
  vertical-align: top;
  background-color: #fefefe;
  border-top: 1px solid #e5e5e5;
  width: 1200px;
}

.hotels__item:nth-child(3) {
  border-bottom: 1px solid #e5e5e5;
}

.hotels__img {
  display: inline-block;
  vertical-align: top;
}

.hotels__info {
  display: inline-block;
  vertical-align: top;
  margin-left: 30px;
}

.hotels__heading {
  line-height: 0;
  margin-bottom: 18px;
}

.hotels__heading a:hover {
  color: #81b3d2;
}

.hotels__heading a:active {
  color: #b2b2b2;
}

.hotels__type {
  display: inline-block;
  vertical-align: top;
  margin-right: 6px;
}

.type__name {
  display: block;
  font-size: 14px;
  font-weight: 400;
  color: #333333;
  line-height: 21px;
  margin-bottom: 15px;
}

.hotels__link {
  display: block;
  font-size: 14px;
  color: #ffffff;
  line-height: 21px;
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 4px;
  padding-bottom: 4px;
}

.hotels__link--blue {
  background-color: #81b3d2;
  text-decoration: none;
}

.hotels__link--blue:hover {
  background-color: #669ec0;
}

.hotels__link--blue:active {
  background-color: #5496bd;
  color: rgba(255, 255, 255, 0.3);
}


.hotels__link--brown {
  background-color: #766357;
  text-decoration: none;
}

.hotels__link--brown:hover {
  background-color: #604e43;
}

.hotels__link--brown:active {
  background-color: #503e33;
  color: rgba(255, 255, 255, 0.3);
}

.hotels__prise {
  display: inline-block;
  vertical-align: top;
}

.hotels__heading a {
  font-size: 21px;
  color: #000000;
  line-height: 26px;
  text-decoration: none;
}

.prise__count {
  display: block;
  font-size: 14px;
  font-weight: 400;
  color: #333333;
  line-height: 21px;
  margin-bottom: 15px;
}

.hotels__rating {
  display: inline-block;
  vertical-align: top;
  margin-left: 500px;
}

.hotels__rank {
  display: block;
  font-size: 14px;
  font-weight: 400;
  color: #666666;
  line-height: 21px;
  background-color: #f2f2f2;
  padding-top: 3px;
  padding-bottom: 3px;
  padding-left: 15px;
  padding-right: 15px;
  margin-top: 47px;
}

.hotels__star {
  content: "";
  display: inline-block;
  width: 18px;
  height: 17px;
  margin-right: 6px;
  background: url("../img/icons/sprite.png") no-repeat center;
  background-position: -10px -1089px;
}
